* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-size: 16px; 
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

button {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;

  transition: filter 0.4s;

  &:hover {
    filter:brightness(0.8)
  }
}

input {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
  
  font-size: 16px;
}

.virtualList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  align-items: center;
}

.listInfo {
  margin-right: 20px;
}