:root {
  --base: #222831;
  --shadow: #393E46;
  --divider: #3b3b3b;
  --action: #D65A31;
  --text: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  color: var(--text);
}

body, input, button, textarea {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

button {
  cursor: pointer;
  
  border: 0;
  border-radius: 8px;
  
  transition: filter 0.4s;

  &:hover {
    filter:brightness(0.8)
  }
}

a {
  color: var(--action);
  text-decoration: none;
  
  transition: filter 0.4s;

  &:hover {
    filter:brightness(0.8)
  }
}